h1,h2,h3,h4,h5,h6,p,span,label, input, button, option, select, textarea, div{
    font-family: 'Balsamiq Sans', cursive;
    text-transform: none;
    text-indent: 0px;
}
Link{
    text-transform: none;
    text-indent: 0px;
}
body {
    min-height:100vh;
}
span{
    color: red;
    font-size: .9rem;
}

.cosoForm{
    display: flex;
    padding-left: 20px;
}