.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
}

#carData{
    width: 40vh;
    height: 50vh;
    margin-top: 5px;
    background-color: #F2F0D5;
    box-shadow: #1e1803c5 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 30px;
    border-color: #668C4A;
}

#normal{
    outline: none; 
    text-decoration: none;
}

.navFake{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin-top: 2%;
}

#img{
    width: 50vh;
    height: 28vh;
    size: cover;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#btn{
    border-color:#668C4A;
    color: #668C4A;
    background-color: #F2F0D5;
}

#btn:hover{
    background-color: #B1B1AC;
}