#link {
    font-size: 1.1em;
    padding: .375rem .75rem;
    color: #F2F0D5;
    border: 1px solid rgba(128, 128, 128, 0.53);
    border-radius: .25rem;
}
#link:hover{
    background-color: #F2F0D5;
    color: #1E1803;
}

#nav{
    width: 100%;
    height: 15vh;
    background-color: #B1B1AC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 1%;
}

#footer{
    width: 100%;
    height: 15vh;
    background-color: #B1B1AC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
}
#noMargin{
    margin-right: 0 !important;
}
#button{
    border-color:#668C4A;
    color: #668C4A;
    margin-right: 5%;
}
#button:hover{
    background-color: #F2F0D5;
    color:#668C4A;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#midNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

.search{
    
    margin-right: 5%;
}

.img{
    width: 50%;
    margin: auto;
}

#inputSearch{
    width: 50vh;
}
.drop{
    overflow-y: scroll;
    width: 30vh;
    max-height: 50vh;
}

.buttons{
    width: 50%;
}

.droppDown{
    width: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}