.container {
    width: 100%;
    height: 30%;
    min-height: 10%;
    max-height: 550px;
}

.sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgs {
    width: 230vh;
    height: 60vh;
    max-height: 1000px;
    size: cover;
}

.textSombreado {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 30%) 0px 150px 400px -18px inset
}

.textCont{
    position: absolute;
    width: 50vh;
    top: 30px;
    z-index: 2;
}

.txt {
    font-size: 5vh;
    color: rgb(218, 218, 70);
    -webkit-text-stroke: 2px rgb(5, 5, 5);
    text-shadow: -1px -1px 0px rgb(0, 0, 0);
    font-weight: bold;
}

#fruta{
    color: transparent;
    text-decoration: transparent;
}