.content{
    width: 90%;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.dataCard{
    margin: auto !important;
    min-width: 50%;
    max-width: 100%;
    display: grid;
    padding: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #e0e0db;
}

.name{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1%;
}
.apellido{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1%;
}
.gmail{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 3;
    margin: 1%;
}

.btn1{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row:4;
    margin: 1%;
}
.exit{
    margin: 1%;
    width: 50%;
    padding: 1%;
    background-color: #e0e0db;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

#btn2{
    background-color: #F2F0D5;
    border: 1px solid #668C4A;
    color: #668C4A;
    padding: 1%;
    border-radius: .25rem;
}
#btn2:hover{
    background-color: #F2C53D;
}

.btn{
    background-color: transparent;
    border-color: transparent;
}

.icon{
    font-size: 1.6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 100%;
}