.contentData{
    margin: auto;
    padding: 1%;
    min-width: 40%;
    max-width: 90%;
    border: 1px solid #668C4A;
    border-radius: .25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    box-shadow: #1e1803c5 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}
.name{
    grid-column: 2;
    grid-row: 1;
}
.category{
    display: flex;
    grid-column-start:1;
    grid-column-end:4;
    grid-row: 2;
    flex-direction: row;
    justify-content: flex-start;
}

.gmail{
    display: flex;
    grid-column-start:1;
    grid-column-end:4;
    grid-row: 3;
    flex-direction: row;
    justify-content: flex-start;
}
.getComent{
    display: flex;
    grid-column-start:1;
    grid-column-end:4;
    grid-row: 4;
    flex-direction: row;
    justify-content: flex-start;
}
.change{
    grid-column:2;
    grid-row: 6;
}

.delete{
    display: flex;
    grid-column: 3;
    grid-row: 1;
    justify-content: flex-end;
    align-items: flex-start;
}

.content{
    margin-bottom:2%;
    margin-top: 2%;
}
.payments{
    display: flex;
    grid-column-start:1;
    grid-column-end:4;
    grid-row: 5;
    flex-direction: row;
    justify-content: flex-start
}