.content{
   
    justify-content: center;
  
    align-content: space-around;
    align-items: center;
    
    
}
.buttonLog{
    color: #e85186;
    font-family: 'Balsamiq Sans', cursive;
    text-transform: none;
    text-indent: 0px;
    font-size:larger;
}
.buttonLog2{
    color: #F2F0D5;
    font-family: 'Balsamiq Sans', cursive;
    text-transform: none;
    text-indent: 0px;
    font-size:larger;
}

.buttonL{
align-items: center;
display: flex;
}