.contentComent{
    width: 89%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0.8%;
    justify-content: flex-start;
    align-items: center;
}

.textLabel{
    font-size: .8rem;
    width:40%;
}
#diaComent{
    color: #B1B1AC;
    margin-left: 1%;
    text-align: right;
}
.dateComent{
    margin: 1%;
}

.comentBox{
    border-radius: .25rem;
    width: 40%;
}
.contenSendComent{
    margin-left: 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.contentAllComent{
    width: 90%;
}
.coment{
    width: 100%;
    display: flex;
    background-color: #F2F0D5;
    border-radius: .25rem;
    margin: 1%;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
}

.buttonComent {
    background-color: red;
    display: flex;
}
.btn{
    margin-left: 1%;
}

.name{
    width: 40%;
    text-align: left;
}

.comentFunction{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}

.icon{
    font-size: 1.3rem;
    padding: .5vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 100%;
    background-color:#F2F0D5;
}
.btn{
    margin: .5%;
    background-color: transparent;
    border-radius: 100%;
    height: 4vh;
    border-color: transparent;
}

.contenBtn{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
}