.content{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}
.contentData{
    width:30%;
    border: 1px solid #668C4A;
    background-color: #B1B1AC;
    border-radius: .25rem;
    margin: 1%;
}

.flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
}

#btn{
    background-color: rgb(0, 156, 34);
    border: 1px solid rgb(51, 51, 51);
    box-shadow: rgb(0 156 34 / 40%) 0px 20px 35px -10px;
    color: white;
}

#btn:hover{
    background-color: rgb(110, 194, 147);

}

.text{
    margin-top: 1%;;
    color: white;
}