#color{
    color: #A6BF4B;
    background-color:#F2F0D5;
    border-color: #A6BF4B;
}

#color:hover{
    background-color: #B1B1AC;
    color: #668C4A;
}

#color2{
    background-color: #B1B1AC;
    border-color: #A6BF4B;
    color: #668C4A;
}