#color{
    font-size: 2vh;
    color: rgb(51, 51, 51);
    background-color:rgb(250, 250, 250);
    border-color: rgb(51, 51, 51);
    box-shadow: rgb(250 250 250 / 40%) 0px 20px 35px -10px;
}

#color:hover{
    background-color: rgb(68, 68, 68);
    color: rgb(250, 250, 250);
}

#color2{
    font-size: 2vh;
    background-color: rgb(68, 68, 68);
    border-color: rgb(51, 51, 51);
    color: rgb(250, 250, 250);
    box-shadow: rgb(250 250 250 / 40%) 0px 20px 35px -10px;
}