.grid{
    width: 30vh;
    border-radius: .25rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}
.positivo{
    width: 80%;
    height: 3vh;
    margin: auto;
    border-radius: .25rem;
    background-color: #F2C53D;
    border: 2px solid rgb(51, 51, 51);
}
.negativo{
    border: 2px solid rgb(51, 51, 51);
    background-color: #F2F0D5;
    width: 80%;
    height: 3vh;
    border-radius: .25rem;
    margin: auto;
}
.transparent{
    color: transparent !important;
    background-color: transparent;
    font-size: .2rem;
}