#stack{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: stretch;
    flex-direction: column;

}

.title{
        width: 100%;
        margin-top: 1%;
        margin-bottom: 1%;
}

.contentRecipes{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-around;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;

}
.recipes{
        width: 100%;
        padding: 1%;
        margin: 1%;
        border: 1px solid rgba(128, 128, 128, 0.658);
        border-radius: .25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        background-color: #B1B1AC;
}

#exit{
        text-align: center;
}