.content{
    width: 100%;
    padding: 2%;
    margin-top:2%;
    margin-bottom: 2%;
    border: 1px solid rgba(128, 128, 128, 0.534);
}
.container{
    max-width: 80%;
    margin: auto;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#btn{
    color: #668C4A;
    background-color: #F2F0D5;
    border-color: #668C4A;
}
#btn:hover{
    background-color: #B1B1AC;
}

#icon{
    text-align: center;
    font-size: 2.5rem;
    background-color: transparent;
    border-color: transparent;
}
.icon{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 100%;
}